html {
  background-color: #354463;
  margin: 0;
  padding: 0;
}
body {
  font: 1vw arial, helvetica, sans-serif;
  font-size: 4vw;
  margin: 0;
  padding: 0;
  color: #354463;
}
header {
  background-color: white;
  padding: 2vw;
  display: flex;
  justify-content: center;
}
header h1 {
  width: 40vw;
  font-size: 5.5vw;
  text-align: center;
}
.section1 {
  background-image: url(./image/annie-spratt-427340-unsplash-\(1\).png);
  background-position: center;
  padding-bottom: 10vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  padding-top: 10vw;
  width: 80vw;
  margin-left: 10vw;
}
@font-face {
  font-family: flood;
  src: url(./image/FloodStd.otf);
}
.give {
  font-size: 8vw;
  font-family: flood;
  color: white;
}
.formcontainer {
  background-color: #354463;
  color: white;
  padding: 4vw;
}
.informationdiv div h1 {
  margin-bottom: 0;
}
.names,
.addressdiv,
.csz,
.emaildiv {
  padding-top: 5vw;
}
.inputgrid form {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 8vw;
}
.names {
  display: flex;
  justify-content: space-between;
}
.fname {
  width: 30vw;
}
.inbox {
  padding-top: 1vw;
  font-size: 4.1vw;
  padding-bottom: 1vw;
  background-color: #354463;
  border: none;
  border-bottom: 0.005vw solid #c1f7d5;
}
.namediv {
  width: 33vw;
}
.addressinput {
  width: 72vw;
}
.addressdiv {
  width: 75vw;
}
.citydiv {
  width: 32vw;
}
.cityinput {
  width: 30vw;
}
.statediv {
  width: 15vw;
}
.stateinput {
  width: 14vw;
  font-size: 3.7vw;
  color: #c1f7d5;
}
.zipdiv {
  width: 15vw;
}
.zipinput {
  width: 14vw;
}
.csz {
  display: flex;
  justify-content: space-between;
}
.emaildiv {
  width: 75vw;
}
.emailinput {
  width: 72vw;
}
.paymentgrid form {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}
.creditdiv {
  width: 75vw;
}
.creditinput {
  width: 72vw;
}
.paymentdiv div h2 {
  margin-bottom: 0;
}
.creditdiv,
.es {
  padding-top: 5vw;
}
.es {
  display: flex;
  justify-content: space-between;
}
.datediv {
  width: 34vw;
}
.dateinputs {
  display: flex;
  justify-content: space-between;
}
.monthinput {
  width: 10vw;
}
.yearinput {
  width: 14vw;
}
.codediv {
  width: 33vw;
}
.codeinput {
  width: 10vw;
}
.paymentdiv {
  padding-top: 1vw;
  padding-bottom: 8vw;
}
.click {
  font-size: 3.5vw;
  text-align: start;
}
.buttonbackdiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
button {
  background-color: #c6ecd4;
  padding: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 65vw;
  border-radius: 30px;
  border: none;
}
button a {
  text-decoration: none;
  color: #354463;
}
a {
  color: #c1f7d5;
}
footer {
  background-color: white;
}
.box3 {
  color: #354463;
  font-family: flood;
  font-size: 8vw;
  position: relative;
  left: 46vw;
}
.link a {
  color: #354463;
  text-decoration: underline;
}
.item1,
.info {
  width: 32vw;
  font-size: 2.4vw;
}
.info p {
  font-size: 3vw;
}

.container2 {
  padding-top: 4vw;
  display: flex;
  flex-wrap: wrap;
}
.item1,
.item3 {
  margin-right: 16vw;
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
  header h1 {
    width: 23vw;
    font-size: 3vw;
  }
  .give {
    font-size: 7vw;
    padding-bottom: 5vw;
  }
  .informationdiv,
  .paymentdiv {
    font-size: 3vw;
  }
  .informationdiv form {
    font-size: 2vw;
  }
  .paymentdiv form {
    font-size: 2vw;
  }
  .dateinputs {
    width: 27vw;
  }
  .codediv {
    padding-left: 3vw;
    width: 20vw;
  }
  .es {
    justify-content: flex-start;
  }
  .click {
    font-size: 2.5vw;
    padding-bottom: 2vw;
  }
  .buttonbackdiv {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  button {
    width: 30vw;
  }
  a {
    font-size: 2.5vw;
  }
  .container2 {
    display: flex;
  }
  .branding {
    font-size: 2vw;
  }
  .item2 {
    width: 20vw;
    margin-left: 4vw;
  }
  .item3 {
    width: 12vw;
    margin-left: 8vw;
  }
  .item2 p {
    font-size: 2vw;
  }
  .h3 {
    font-size: 2vw;
    margin-bottom: 0;
  }
  .link {
    margin-top: 0;
  }
  .link a {
    font-size: 1.8vw;
  }
  .item4 {
    width: 22vw;
    margin-left: 37vw;
  }
  .box3 {
    left: 0;
    font-size: 5vw;
  }
  .branding,
  .item3 {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  header h1 {
    width: 20vw;
    font-size: 2.6vw;
  }
  .give {
    width: 30vw;
    font-size: 5vw;
  }
  .formcontainer {
    width: 35vw;
  }
  .paymentdiv,
  .informationdiv {
    font-size: 2vw;
  }
  .informationdiv form,
  .paymentdiv form {
    font-size: 1.5vw;
  }
  .inbox {
    font-size: 2vw;
  }
  .fname {
    width: 15vw;
  }
  .namediv {
    width: 18vw;
  }
  .addressdiv {
    width: 35vw;
  }
  .addressinput {
    width: 35vw;
  }
  .citydiv,
  .statediv,
  .zipdiv {
    width: 10vw;
  }
  .cityinput,
  .stateinput,
  .zipinput {
    width: 10vw;
  }
  .emaildiv,
  .emailinput,
  .creditdiv,
  .creditinput {
    width: 35vw;
  }
  .dateinputs {
    width: 15vw;
  }
  .paymentdiv {
    padding-top: 1vw;
    padding-bottom: 3vw;
  }
  .monthinput,
  .yearinput {
    width: 6vw;
  }
  .click {
    font-size: 1.3vw;
  }
  button {
    width: 20vw;
    padding: 1vw;
  }
  .inputgrid form {
    margin-bottom: 2vw;
  }
  .buttonbackdiv {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  button a {
    font-size: 1.5vw;
  }
  a {
    font-size: 1.2vw;
  }
  .container1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .container2 {
    display: flex;
  }
  .h3 {
    width: 10vw;
    padding-bottom: 0.5vw;
    border-bottom: 0.1vw solid #354463;
  }
  .branding {
    width: 20vw;
    margin-right: 0;
    font-size: 1vw;
  }
  .item2 {
    width: 17vw;
  }
  .h3 {
    margin-bottom: 0;
    width: 10vw;
    font-size: 1.5vw;
  }
  .item4,
  .item3 {
    width: 17vw;
  }
  .item4 p,
  .item3 p {
    margin: 0;
  }
  .item3 {
    margin-right: 0;
  }
  .item2 p {
    font-size: 1.2vw;
  }
  .box3 {
    font-size: 2vw;
    left: 0;
    bottom: 0;
    top: 2vw;
  }
  .link {
    line-height: 1vw;
  }
  .link a {
    color: #354463;
    text-decoration: none;
  }
}
