.html {
  background-color: #354463;
  margin: 0;
  padding: 0;
}
body {
  color: #354463;
  font: 1vw arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: white;
}
.container {
  width: 80vw;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerandnav {
  display: flex;
  width: 70vw;
  justify-content: space-between;
}
header a {
  color: #354463;
  text-decoration: none;
}
header nav {
  margin: auto;
  margin-right: 7vw;
  width: 40vw;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.5vw;
}
header li {
  display: flex;
  align-self: space-around;
}
button {
  background-color: #c6ecd4;
  padding: 0.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 10vw;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 30px;
  border: none;
  color: #354463;
}
button a {
  text-decoration: none;
}
.section1 {
  background-image: url(./image/annie-spratt-135307-unsplash@2x.png);
  background-position: center;
  height: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.boxes {
  display: flex;
  margin: auto;
  width: 80vw;
  justify-content: space-between;
  padding-top: 9vw;
}
.box1 {
  padding-right: 3vw;
  width: 30vw;
  height: 23vw;
  background-color: white;
  color: #354463;
}
.issue,
.h1,
.read {
  margin-left: 3vw;
  color: #354463;
}
.h1 {
  font-size: 2.6vw;
}
.issue {
  background-color: #354463;
  color: white;
  width: 10vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 1vw;
}
section a {
  color: #354463;
}
@font-face {
  font-family: flood;
  src: url(./image/FloodStd.otf);
}
.box2 {
  font-size: 4vw;
  font-family: flood;
  padding-right: 12vw;
  color: white;
}
.section2 {
  height: 12vw;
  background-color: #c1f7d5;
  color: #354463;
  display: flex;
}
.about {
  width: 19vw;
}
.about1 {
  width: 20vw;
}
.para {
  font-size: 1.3vw;
}
.action {
  background-color: #354463;
  color: white;
  width: 10vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 45vw;
  top: 17vw;
}
.container3 {
  width: 80vw;
  margin: auto;
  overflow: hidden;
  padding-top: 4vw;
  padding-right: 3vw;
  padding-bottom: 5vw;
}
.do {
  background-color: white;
  width: 10vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #354463;
}
.our {
  color: white;
  font-size: 2.1vw;
  font-style: Helvetica, Bold;
}
.extra {
  display: flex;
  justify-content: space-between;
  padding-top: 5vw;
}
.block1 {
  background-color: white;
  width: 20.4vw;
  display: flex;
  flex-direction: column;
  padding-left: 3vw;
  padding-bottom: 3vw;
  color: #354463;
}
.img {
  position: relative;
  bottom: 3vw;
}
.img img {
  width: 23vw;
}
.theory {
  font-size: 1.3vw;
}
footer {
  background-color: white;
}
.container2 {
  height: 15vw;
}
.h3 {
  width: 10vw;
  padding-bottom: 0.5vw;
  border-bottom: 0.1vw solid #354463;
}
.branding {
  position: relative;
  bottom: 2vw;
}
.box3 {
  font-size: 3vw;
  font-family: flood;
}
.link a {
  color: #354463;
  text-decoration: none;
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
  header {
    padding-bottom: 2vw;
    padding-top: 2vw;
  }
  .headerandnav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  header nav {
    margin: 0;
    margin-right: 0;
  }
  header nav ul {
    padding: 0;
  }
  .headerbutton {
    width: 20vw;
  }
  .boxes {
    height: 60vw;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .h1 {
    font-size: 5vw;
  }
  .h1,
  .issue,
  .read {
    margin-left: 10vw;
  }
  .section1 {
    height: 75vw;
    background-position-x: right;
  }
  .box1 {
    width: 80vw;
    height: 35vw;
  }
  .box2 {
    font-size: 5.5vw;
    position: relative;
    bottom: 3vw;
  }
  .issue,
  .action,
  .do {
    font-size: 2vw;
    width: 20vw;
    height: 4.5vw;
  }
  .issue {
    position: relative;
    bottom: 2vw;
  }
  .read {
    font-size: 2.2vw;
  }
  .action {
    top: 4vw;
    left: 40vw;
  }
  .section2 {
    height: 50vw;
  }
  .aboutcontainer {
    width: 80vw;
    margin: 0;
    margin-top: 7vw;
    margin-left: 11vw;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .about {
    width: 32vw;
    font-size: 2vw;
  }
  .about1 {
    width: 30vw;
    font-size: 2vw;
  }
  .para {
    font-size: 2vw;
  }
  .our {
    font-size: 3vw;
    text-align: left;
  }
  .extra {
    height: 128vw;
    flex-direction: column;
    justify-content: space-between;
  }
  .block1 {
    width: 80vw;
    height: 35vw;
    flex-direction: none;
    padding-left: 3vw;
    padding-bottom: 3vw;
    color: #354463;
  }
  .img {
    width: 35vw;
  }
  .img img {
    width: 34vw;
  }
  .theory {
    width: 40vw;
    font-size: 2.5vw;
    margin-left: 5vw;
    position: relative;
    left: 32vw;
    bottom: 24.5vw;
  }
  .b {
    width: 18vw;
    padding: 1.5vw;
    position: relative;
    left: 15vw;
    bottom: 32vw;
  }
  .container2 {
    padding-top: 4vw;
    height: 50vw;
    display: grid;
    grid-gap: 10vw;
    grid-template-columns: auto auto auto;
  }
  .item1 {
    width: 28vw;
    grid-row: 1 / 4;
    font-size: 1.5vw;
    text-align: start;
    position: relative;
    bottom: 22vw;
  }
  .info {
    font-size: 1.8vw;
    width: 20vw;
  }
  .h3 {
    width: 15vw;
    font-size: 1.6vw;
    border-bottom: none;
  }
  .info p {
    width: 18vw;
    height: 10vw;
    font-size: 1.7vw;
  }
  .item3 {
    position: relative;
    right: 5vw;
  }
  .item4 {
    position: relative;
    bottom: 5vw;
  }
  .box3 {
    font-size: 5vw;
    position: relative;
    right: 8vw;
    bottom: 10vw;
  }
  .link a {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 600px) {
  header {
    padding-bottom: 5vw;
    padding-top: 3vw;
  }
  .headerbranding {
    font-size: 1.5vw;
  }

  .headercontainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .headerandnav {
    width: 80vw;
    display: flex;
    align-items: center;
    height: 24vw;
  }
  header nav {
    margin: 0;
    height: 15vw;
    display: flex;
    align-items: space-around;
  }
  header nav ul {
    margin: 0;
    flex-direction: column;
    font-size: 3vw;
  }
  .headerbutton {
    width: 75vw;
  }
  .boxes {
    height: 120vw;
    padding-top: 15vw;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .section1 {
    height: 150vw;
    background-position-x: right;
  }
  .issue,
  .action,
  .do {
    font-size: 4vw;
    width: 35vw;
    height: 10vw;
  }
  .box1 {
    width: 75vw;
    height: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .h1div {
    height: 30vw;
    text-align: center;
    position: relative;
    top: 5vw;
  }
  .h1 {
    margin-top: 0;
    font-size: 5.8vw;
  }
  .read {
    font-size: 4vw;
    text-align: center;
  }
  .issue {
    bottom: 6vw;
  }
  .box2 {
    font-size: 9vw;
    position: relative;
    bottom: 3vw;
  }
  .section2 {
    height: 65vw;
  }
  .action {
    top: 10vw;
    left: 32vw;
  }
  .aboutcontainer {
    width: 80vw;
    margin: 0;
    margin-top: 7vw;
    margin-left: 11vw;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .about {
    width: 32vw;
    font-size: 3vw;
  }
  .about1 {
    width: 30vw;
    font-size: 3vw;
  }
  .para {
    font-size: 3vw;
  }
  .container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
  }
  .our {
    text-align: center;
    font-size: 3.7vw;
  }
  .extra {
    padding-top: 10vw;
    height: 350vw;
    flex-direction: column;
  }
  .block1 {
    width: 80vw;
    height: 100vw;
    display: flex;
    padding-bottom: 10vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .img,
  .theory {
    width: 60vw;
  }
  .b {
    width: 35vw;
    height: 10vw;
  }
  .theory {
    text-align: center;
    font-size: 3.5vw;
  }
  .b {
    margin: 0;
  }
  .img img {
    width: 60vw;
  }
  .container2 {
    padding-top: 4vw;
    height: 110vw;
    flex-wrap: wrap;
  }
  .item1,
  .info {
    width: 32vw;
    font-size: 2.4vw;
  }
  .info p {
    font-size: 3vw;
  }
  .h3 {
    width: 20vw;
    border-bottom: none;
  }
  .box3 {
    width: 35vw;
    font-size: 8vw;
    position: relative;
    left: 46vw;
  }
  .link a {
    text-decoration: underline;
  }
}
